<!DOCTYPE html>
<html lang="en">

<head>

  <title>Image {{img}}</title>

  <!-- dep -->
  <!-- <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script> -->
</head>

<body>

      <img src="{{img}}" alt="{{img}}">

      {% for section in info %}
          <p>{{ section }}</p>
      {% endfor %}

      <!-- error -->
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

</body>

</html>
